#root {
  height: 100vh;
}

.home-wrapper {
  background-color: var(--background);
}

/* .main-title {
  margin: 0px;
} */

.hompage-main-content-section {
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
}

.user-info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 1rem;
  position: relative;
  width: 500px;
  height: 500px;
}

.filters-container {
  border: 2px solid white;
  border-radius: 1rem;
  position: relative;
  width: 500px;
  height: 500px;
}

.steamid {
  font-size: 24px;
}

.steamid-input {
  height: 20px;
  width: 200px;
  font-size: large;
}

.roll-container {
  background-color: var(--background);
}

.roll-counter {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.info-section {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 1rem;
  margin: 15px auto;
  width: 500px;
  height: 300px;
  padding: 20px;
}

.find-steamid {
  color: white;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 2px;
}

.profile-info img {
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px white;
}
