#root {
  height: 100vh;
}

.home-wrapper {
  background-color: crimson;
  background: radial-gradient(ellipse at 50% 10%, #032f69, #020c1cee);
}

.main-title {
  font-family: "Times New Roman", Times, serif;
}

.steamid {
  font-size: 24px;
}

.steamid-input {
  height: 20px;
  width: 200px;
  font-size: large;
}

.roll-counter {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.info-section {
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  margin: 35px auto;
  width: fit-content;
  padding: 20px;
}

.find-steamid {
  color: white;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 2px;
}

.profile-info img {
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px white;
}
