.Modal {
  background: var(--color-glass);
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 999;

  margin: 0 auto;

  border-radius: 1rem;
  border: 2px solid white;
  box-shadow: 1px 1px 3px white;
  min-height: 100vh;
  height: 65vh;
  width: 60vw;

  text-align: center;
  justify-content: center;
  align-items: center;
}

.Modal .modal-btn-container {
  display: flex;
  margin: var(--space-l) var(--space-m);
  gap: var(--space-m);
}

.Modal .profile {
  border-radius: 0.5rem;
  border: 3px solid white;
  margin: 10px 0px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-glass);
}

.Overlay--after-open {
  animation: slideUp 0.5s ease-out forwards;
}

.Overlay--before-close {
  animation: slideDown 0.5s ease-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
