.startpage-container {
  background-image: url("../src/assets/space-bg.jpg");
  background-size: cover;
  /* background-position: right; */
  backdrop-filter: blur(5px);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.startpage-container a {
  color: white;
  text-decoration: none;
  text-underline-offset: 0.2em;
}

.findSteamIdSpan {
  display: flex;
  color: var(--color-text-main);
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-l);
  font-weight: bold;
  gap: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.infoIcon {
  color: white;
  width: var(--font-size-l);
  height: var(--font-size-l);
  margin-top: 4px;
}

.startpage-header {
  margin-top: 20px;
  margin: 5px auto;
  color: var(--color-text-main);

  font-weight: var(--font-weight-bold);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.steamid-input-container {
  backdrop-filter: blur(10px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;
  box-shadow: var(--shadow-glow);

  max-width: 40%;
  min-height: 300px;
  margin: 4rem auto;
}

.steamid-input-container-header span {
  font-size: inherit;
  color: var(--color-text-accent);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.steamid-input-container-header {
  font-size: var(--font-size-xxl);
  font-weight: 400;
  color: var(--color-primary-blue);
}

.note-tooltip-container {
  font-size: var(--font-size-l);
  color: var(--color-text-main);
  font-weight: var(--font-weight-bold);
  padding: 5px;
  margin: var(--space-sm);
}

.note-tooltip-container a {
  margin-left: var(--space-xs);
  color: var(--color-text-accent);
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}

.startscreen-form-wrapper {
  margin: 5px auto;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 300px;
  height: 35px;
  text-align: center;
  color: var(--color-primary-red);
  border-radius: 0.5rem;
  font-size: 20px;
  font-weight: 800;
}
