.startpage-container {
  background: radial-gradient(circle, #0f3564, #081d3d);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.startpage-container a {
  color: white;
  text-decoration: none;
  text-underline-offset: 0.2em;
}

.note {
  color: rgb(253, 250, 250);
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

.banner {
  border: 1px white solid;
  background-color: #102655bb;
  display: inline-block;
  max-width: 50vw;

  margin: 0 auto;
}

.findSteamIdSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  gap: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.infoIcon {
  color: white;
  width: 18px;
  height: 18px;
}

.startpage-header {
  margin-top: 20px;
}

.steamid-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid white;
  border-radius: 1rem;

  width: 50%;
  height: 450px;

  margin: 2rem auto;
}

.startscreen-form-wrapper {
  margin: 5px auto;
}

.startscreen-form-wrapper form {
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.steamid-input-container label,
input {
  font-size: 20px;
  font-weight: bold;
}

.steamid-input-container input {
  padding: 0.5rem;
  width: 25vw;
  border-radius: 0.3rem;
  text-align: center;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 300px;
  height: 35px;
  text-align: center;
  background-color: #0b4c9b;
  border-radius: 0.5rem;
  font-size: 20px;
  font-weight: 500;
}
