.startpage-container {
  /* background: var(--radialAccentBackground); */
  /* background-image: url("../src/assets/clouds.svg"); */
  background-position: 0 35vh;
  background-repeat: repeat-x;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.startpage-container a {
  color: white;
  text-decoration: none;
  text-underline-offset: 0.2em;
}

.note {
  color: var(--text);
  font-size: 30px;
  font-weight: bold;
}

.banner {
  border: 1px white solid;
  background-color: #102655bb;
  display: inline-block;
  max-width: 50vw;

  margin: 0 auto;
}

.findSteamIdSpan {
  display: flex;
  color: var(--text);
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  gap: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.infoIcon {
  color: white;
  width: 18px;
  height: 18px;
}

.startpage-header {
  /* color: var(--background); */
  margin-top: 20px;
}

.steamid-input-container {
  background-color: var(--background);
  /* background: var(--linearSecondaryAccent); */
  color: var(--text);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 5px solid white;
  border-radius: 1rem;

  width: 40%;
  height: 450px;

  margin: 2rem auto;
}

.steamid-input-container-header {
  position: absolute;
  top: 10%;
  font-size: 30px;
}

.startscreen-form-wrapper {
  margin: 5px auto;
}

.startscreen-form-wrapper form {
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.steamid-input-container label,
input {
  font-size: 20px;
  font-weight: bold;
}

.steamid-input-container input {
  padding: 0.5rem;
  width: 25vw;
  border-radius: 0.3rem;
  text-align: center;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 300px;
  height: 35px;
  text-align: center;
  background-color: var(--accent);
  color: var(--text-dark);
  border-radius: 0.5rem;
  font-size: 20px;
  font-weight: 800;
}
