.Modal {
  background-color: var(--background);
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  top: 8vh;
  left: 25vw;

  border-radius: 1rem;
  border: 2px solid white;
  box-shadow: 1px 1px 3px white;
  height: 65vh;
  width: 50vw;

  text-align: center;
  justify-content: center;
  align-items: center;
  animation: slideUp 0.5s ease-out forwards;
}

.Modal .profile {
  border-radius: 0.5rem;
  border: 3px solid white;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
}

.Overlay--before-close {
  animation: slideDown 0.5s ease-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
