:root {
  font-family: "Space Mono", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

h1 {
  font-size: 64px;
}

button {
  padding: 10px;
  background-color: rgb(15, 39, 76);
  border-radius: 8px;
  margin: 2px;
  font-size: 24px;
  cursor: pointer;
}

/* button:hover {
} */
