.game-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: green;

  min-height: 600px;
}

/* TODO: Change box art size based on the container size */

.box-art {
  margin: 20px auto;
  height: 300px;
  max-height: 300px;
  max-width: 200px;
  border-radius: var(--radius-l);
  transition: transform 0.3s ease;
  position: relative;
  background: var(--color-primary-bg);
}

.box-art-img {
  position: relative;
  max-height: 300px;
  max-width: 200px;
  border-radius: inherit;
}

/* animated glowing border */
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.box-art::after,
.box-art::before {
  --gradient-angle: 0deg;
  content: "";
  position: absolute;
  z-index: -1;
  inset: -0.3rem;
  border-radius: inherit;
  animation: rotation 20s linear infinite;

  background: conic-gradient(
    from var(--gradient-angle),
    #1560b6,
    var(--color-primary),
    var(--color-primary-bg),
    #00bfff,
    var(--color-primary-bg),
    #1560b6,
    var(--color-primary)
  );
  filter: blur(3rem);
}

.box-art::after {
  filter: blur(3rem);
}

.box-art-img:hover {
  transform: scale(1.1);
  transition: transform 250ms ease-out;
}

.game-title-with-icon {
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
  gap: 0.5rem;
}

.game-icon {
  position: relative;
  border-radius: 8px;
  box-shadow: var(--shadow-glow);
}
