@import url("https://fonts.googleapis.com/css?family=Saira%20Condensed:700|Saira%20Condensed:400");

.stats-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Saira Condensed";
}

.stats-table {
  border: 2px solid white;
  border-collapse: collapse;
  border-radius: 0.5rem;
  text-align: center;
  width: 85%;
}

.stats-table th {
  font-size: 25px;
  text-align: left;
  padding: 10px;
}

.stats-table td {
  font-size: 25px;
  padding: 10px;
}

.stats-table tr:nth-child(even) {
  color: var(--background);
  background-color: var(--accent);
}

.storepage-link {
  color: white;
  font-size: 25px;
}
